<%if user_signed_in?%>
  <center><h3 class="content">Choose your travel destintation</h3></center>
  <center>
    <input type="text" name="destination" placeholder="Choose your destination" class="form-control" autofocus="true"></input>
    <br>
    <button class="btn btn-orange" id="location"><i class="fa fa-map-marker"></i> Give me locations</button>
  </center>
  <div id="fourloc">
  </div>
  <center><h3 class="content">The schedule</h3></center>
  <center><p> map again again with photos</p></center>
<%else%>
  <center> 
    <div class="col-md-4">
      <p class="desc">
      <span class="fa fa-fighter-jet"></span> Travel
      </p>
    </div>
    <div class="col-md-4">    
      <p class="desc">
      <span class="fa fa-bullhorn"></span> Fun</p>
    </div>
    <div class="col-md-4">    
      <p class="desc">
      <span class="fa fa-cloud"></span> Memories</p>
    </div>
  </center>
<%end%>
