/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */
body{
  background-image:url('/assets/bg.png');
  font-family: 'Montserrat', sans-serif;
  background-repeat:no-repeat;
}
.navbar-default{
border-radius:5px;
background-color:transparent;
}
.navbar-default .navbar-nav > li > a,.navbar-default .navbar-brand{
  color:black;
}
.navbar-default .navbar-nav > li > a:hover{
  border-bottom-color:#FF363D;
  border-bottom-style:solid;
  border-bottom-width:3px;
}
footer{
  padding:1%;
  border-radius:5px;
  color:black;
  background-color:transparent;
}
.content{
  font-family: 'Droid Sans', sans-serif;
}
input[type="email"],input[type="text"],input[type="password"],input[type="email"]:focus,input[type="password"]:focus,input[type="text"]:focus {
  border-bottom-width:3px;
  border-bottom-color:#333;
  border-top:none;
  border-right:0px;
  border-left:0px;
  padding:0px;
  box-shadow:none;
  border-radius:0px;
  background-color:transparent;
}

.form-control:focus{
  border-bottom-color:#FF363D !important;
  border-bottom-width:3px;
}
.desc{
  margin-top:50%;
  margin-bottom:50%;
  font-size:25px;
  font-weight:bold;
}
.grid {
  max-width: 69em;
  list-style: none;
  margin: 30px auto;
  padding: 0;
}

.grid li {
  display: block;
  float: left;
  padding: 7px;
  width: 33%;
  opacity: 0;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
  opacity: 1;
}

.grid li a,
.grid li img {
  outline: none;
  border: none;
  display: block;
  max-width: 100%;
}
.grid.effect-2 li.animate {
  -webkit-transform: translateY(200px);
  transform: translateY(200px);
  -webkit-animation: moveUp 0.65s ease forwards;
  animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
  0% { }
  100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
  0% { }
  100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}
.btn-orange,.btn-orange:hover{
  background-color:#FF5711;
  border-radius:0;
  color:white;
  padding:10px;
  box-shadow:0px;
}
.suggested{
  background-color:white;
  border-style:solid;
  border-color:#FF5711;
  border-width:2px;
  color:#FF5711;
  border-radius:10px;
  height:250px;
  overflow:hide;
}
.suggested-2{
  background-color:white;
  border-style:solid;
  border-color:#FF5711;
  border-width:2px;
  color:#FF5711;
  border-radius:10px;
  height:300px;
}
.title{
  margin-top:6px;
  font-size:25px;
  font-family:'Droid-Sans','sans-serif';
}
.place-desc{
  margin-top:6px;
  font-size:15px;
}
hr{
margin-top:10px;
margin-bottom:10px;
}
