/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */
body{
  background-image:url('/assets/bg.png');
  font-family: 'Montserrat', sans-serif;
}
.navbar-default{
  /*opacity:0.5 !important;
  background-image:url('/assets/whitenoise.png');*/
border-radius:5px;
background-color:transparent;
}
.navbar-default .navbar-nav > li > a,.navbar-default .navbar-brand{
  color:black;
}
.navbar-default .navbar-nav > li > a:hover{
  border-bottom-color:#FF363D;
  border-bottom-style:solid;
  border-bottom-width:3px;
}
footer{
  padding:1%;
  border-radius:5px;
  color:black;
  background-color:transparent;
}
.content{
  font-family: 'Droid Sans', sans-serif;
}
/*.title{
border-bottom-width:2px;
border-bottom-color:black;
border-bottom-style:solid;
padding:2px;
}*/
input[type="email"],input[type="password"],input[type="email"]:focus,input[type="password"]:focus {
  border-bottom-width:2px;
  border-top:none;
  border-right:0px;
  border-left:0px;
  padding:0px;
  box-shadow:none;
  border-radius:0px;
  background-color:transparent;
}
.form-control:focus{
  border-bottom-color:#FF363D !important;
}
.desc{
  margin-top:50%;
  margin-bottom:50%;
  font-size:25px;
  font-weight:bold;
}
